APP_NAME="App Name"
HOST="0.0.0.0"
PORT=8000
RELOAD=false

DISCORD_TOKEN="Discord Token"

MONGODB_URI="mongodb://username:password@localhost:27017"
MONGODB_DATABASE_NAME="content_machine"
MONGODB_USERNAME="admin"
MONGODB_PASSWORD="password"